/* ********************************************************
* Description : CSS Framework For CodingDatafy Website
* URL     	  : www.codingdatafy.com/codingdatafy.css
* Version 	  : 1.0
* Licence     : Copyright © 2026 CodingDatafy
* Colors      : rgb(255 255 255) : White
			    rgb(0 0 0)       : Black
				rgb(255 0 0)     : Red
				rgb(0 255 0)     : Green
				rgb(0 0 255)     : Blue
			    rgb(50 205 50)   : LimeGreen
			    rgb(0 191 255)   : DeepSkyBlue			    
				rgb(0 0 139)     : darkblue
			    rgb(245 222 179) : wheat
* This file contains the following sections:
	- HTML Elements
	- Root
	- Header
	- Content
	- Sidebar
	- Main
	- Footer
******************************************************** */
/* --------------------------- HTML Elements --------------------------- */
/* Basic */
html {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-size: 100%;
}
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/* Non-Semantic */
div {
	box-sizing: border-box;
}
span {
	box-sizing: border-box;
}
/* Sections */
header {
	box-sizing: border-box;
}
search {
	box-sizing: border-box;
}
nav {
	box-sizing: border-box;
}
aside {
	box-sizing: border-box;
}
main {
	box-sizing: border-box;
}
article {
	box-sizing: border-box;
}
section {
	box-sizing: border-box;
}
footer {
	box-sizing: border-box;
}
address {
	box-sizing: border-box;
}
/* Headings */
hgroup {
	box-sizing: border-box;
}
h1 {
	box-sizing: border-box;
	margin: 0.1em 0 0 0;
    padding: 0.1em;
    text-align: end;
}
h2 {
	box-sizing: border-box;
	margin: 0 0 0.2em 0;
	padding: 0.1em;
	color: rgb(255 255 255);
	background-color: rgb(0 191 255);
	text-align: center;
}
h3 {
	box-sizing: border-box;
	margin: 0;
	padding: 0.01em;
	color: rgb(255 255 255);
	background-color: rgb(0 0 139);
	text-indent: 3%;
}
h4 {
	box-sizing: border-box;
	margin:0;
	padding: 0.2em;
	width: 15%;
	color: rgb(255 255 255);
	background-color: rgb(50 205 50);
	text-indent: 3%;
}
/* --------------------------------------------------------------------- */